{% extends 'base.html.twig' %}

{% block title %}Edit Album{% endblock %}

{% block body %}
    <a href="{{ path('homepage') }}">Back to home</a>
    <h1>Edit/Create Album</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}